<!--This widget will have fields for:
    * First Name
    * Middle Initial
    * Last Name
    * Company Name
        * Are you the owner of this company?
        * Or, are you a designated representative for this company?
        * Or, are you an employee of this company?
    * Company EIN OR SSN (Depending on whether this is for a company or an individual)
    * Address
    * Phone Number
    * Email
    * Demographics:
        * Gender
        * Race
            * (Is this company minority-owned?)
    * General Contractor Selector
        * General Contractor License Number                      \
        * Insurance policy company and number                     | (AUTOMATICALLY VERIFIED AND WILL SHOW IN PROFILE WHETHER THIS IS ACTIVE OR NOT)
            *Insurance minimums*** (Necessary for specific jobs) /
        * Upload photos of both*** (REQUIRED)
    * Sub Contractor Selector
        * Residential Selector
        * Commercial Selector
        * Residential and Commercial Selector
        * Sub Contractor Specialty
            * Drywall
            * Framing
            * Roofing
            * Etc.
            * (Add Specialty button and input)
        * Sub Contractor License Number                           \
        * Insurance policy company and number                      | (AUTOMATICALLY VERIFIED AND WILL SHOW IN PROFILE WHETHER THIS IS ACTIVE OR NOT)
            * Insurance minimums*** (Necessary for specific jobs) /
        * Upload photos of both*** (REQUIRED)
    * Quickbooks information (May not be necessary if quickbooks only requires a simple file for upload)
    * Bank account information
        * Account Number
        * Routing Number
        * Upload photo of blank check*** (REQUIRED)
    * Create account login information
        * Username
        * Password (Make it strong)


    * ***Whatever remaining information needed for tax document preparation (Shouldn't be much) ***
    -->