<!--This widget will allow for:
    * Signed in users to "clock in and out" using their phone.
    * Editing after the fact if they forget to sign in. Both on mobile and desktop.
        (May be customized by Subcontractor if hours are controlled and checked by foreman)
    * Option available using the mobile GPS, (have them automatically signed in when they arrive at the job site address they're scheduled for.)
    * Records hours
    * Tracks mileage while clocked in-->

<!--Use the UI standards we will set as a group and material design.-->

