<!--This Widget will allow for:
    * My Profile
    * My Account
    * My Jobs
    * My Subs (Shows saved subcontractors and crews)
    * My employees (For General and Sub Contractors)
    * My Foremen / Crew Leaders
    * My Documents
    * My Photos
    * My Payments
    * My Contracts
    * Settings
    * HUD Home Reports
    * Government Projects
    * Job Board (on the front page, either My current jobs [for general contractor] or all posted jobs [Sub Contractors])
    * Sub contractor search
    * Scheduler
    * Reports (Export to Quickbooks)
    * Log Out
    * Edit Hours
    * Edit Miles

    * Edit tabs
    * Customize page theme
    * Customize what you first see on your console-->