<!--This widget will allow for:
    * Contract upload and download (Custom contract)
    * Upload custom logo
    * Different contract styles and themes.
    * Required information for custom contract
    * Standard contract
    * Standard contract edit (Job name, address, ID #, date schedule...{Required Information})
    * Contract signature (Require or not option)
    * Connect contract to Scheduler
    * Send contract to other users
    * Receive signed contract from other users
    * ... -->

<!--Use the UI standards we will set as a group and material design.-->
