<!--This widget will allow for:
    * Invoice upload and download (Custom invoice)
    * Upload custom logo
    * Different invoice styles and themes.
    * Required information for custom invoice
    * Standard invoice
    * Standard invoice edit (Job name, address, ID #, date schedule...{Required Information})
    * Invoice signature (Require or not option)
    * Connect invoice to Contract
    * Send Invoice to other the general contractor.
    * Receive signed Invoice from Subs.
    * ... -->

<!--Use the UI standards we will set as a group and material design.-->
