<!--This widget will allow for:
    * Required job information: (For creating a job post)
        * Contractor company name (Links to general contractor's company profile)
        * Job Name
        * Scope of the job (Framing, Drywall etc.)
        * Address for the job
        * Scheduled dates
        * Pay range
        * ...
    * Jobs will be searchable by all fields
    * 'Submit estimate' button
    * Required information to submit an estimate:
        * Automatically fills out Sub Contractor Information
        * Time bid
        * Cost bid-->