<!--This will allow for:
    * Current jobs
    * Will pull information from the device:
        * Calendar (For current jobs and alerts)
        * Contacts
        * Photos
        * Camera
        * Location
        * Clock
        * Email
        * ...
    * Allow access to the job board
    * Ability to sign contracts
    * Ability to send contracts
    * Ability to view and edit profile
        * Photos
        * Information
        * Documents
    * Allow access to the sign in widget
    * View completed contracts
    * View previous invoices and whether they have been paid
    * View previous payments
        Order by:
            * Date
            * Job / Contract
            * Totals
    *  -->