<!--This Widget will allow for:
    * Hourly reports
    * Previous jobs
    * Contracts Sent
    * Contracts Received
    * Jobs Posted
    * Current jobs
    * Current Subs (including per job)
    * Past Subs (Including per job)
    * Payments to subs
    * Payments from General
    * Invoices received
    * invoices sent
    * W2 previews (with file download)
    * 1099 previews (with file download)
    * Tax withholdings
    * Import/Export with Quickbooks
    * Custom search fields

    * Organize by:
        * Date
        * Amount
        * Company / Subcontractor
        * Job Worked
        * Taxes withheld
        * Custom Options
        * Job and Contract fields
            * client numbers or names
            * addresses
            * Any other custom search field-->